/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--bg--color);
    color: var(--text-color);
}

/* CSS Variables */
:root {
    --text-color: #075B5E;
    --bg--color: #FFE6E1;
    --brand-color: #FF3F33;
    --p-color: #707070;
    --white-color: whitesmoke;

    --h2-font: 2.5rem;
    --h3-font: 2rem;
    --p-font: 1.125rem
}

/* Repeated Style */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.section-gap {
    margin: 120px auto;
}

.btn {
    color: var(--white-color);
    background-color: var(--brand-color);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 15px 25px;
    border: 1px solid transparent;
    border-radius: 14px;
    cursor: pointer;
    transition: all .35s ease;
}

.flex {
    display: flex;
    align-items: center;
}

/* End Repeated Style */

/* Header */
#menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

.navbar {
    justify-content: space-between;
    padding-top: 30px;
}

.nav-links {
    gap: 1.8rem;
}

.nav-links a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    position: relative;
}

.nav-links li {
    position: relative;
}

.nav-links > li > a::before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    background-color: var(--brand-color);
    transform: scale(0);
    transition: all .35s ease;
}

.nav-links li a:hover::before {
    transform: scale(1);
}

.dropdwn {
    position: absolute;
    background-color: gray;
    width: 120px;
    left: -15px;
    background-color: beige;
    text-align: center;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all .35s ease;
}

.dropdwn li {
    padding: 10px;
    border-bottom: 1px solid #605B5B45;
}

.nav-links li:hover .dropdwn {
    opacity: 1;
    visibility: visible;
    transform: scale(1.02);
}

/* Banner Section */
.banner-sec {
    margin-top: 3rem;
    background-image: linear-gradient(179deg,rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0) 100%), url(./images/banner.png);
    padding: 104px 239px;
    text-align: center;
    border-radius: 20px;
    color: var(--white-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 85px;
}

.banner-content p {
    max-width: 680px;
    font-size: var(--p-font);
    margin: 32px auto;
}

.form input {
    max-width: 500px;
    width: 100%;
    padding: 19px;
    border-radius: 14px;
    margin-right: 24px;
    border: none;
    outline: none;
}

/* Legal Practice Area */
